$text-color: rgb(50,50,50);
$dark-mode-text-color: rgb(220,220,220);

$text-color: rgb(50,50,50);
$dark-mode-text-color: rgb(220,220,220);

$text-color: rgb(50,50,50);
$dark-mode-text-color: rgb(220,220,220);

body {
  transition: ease 1s;
  background-color: rgb(250, 250, 250);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-family: 'Quicksand', sans-serif;
    color: $text-color;
  }

  #app {
    text-align: center;
  }
}

body.dark-theme{
  transition: ease 1s;
  background-color: rgb(25, 25, 25);

  * {
    color: $dark-mode-text-color;
  }
}